*{
    margin: 0;
    padding: 0;
}
body{
    font-family:poppins;
    background: url('./images/tatah.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    overflow: hidden;
    height: 5vh;
}
section{
    margin-top: 20px;
}
.nav-area{
    background: rgba(0,0,0,0,7);
    height: 60px;
    position: absolute;
    width: 100%;
}
.menu-area{
    float: right;
    list-style: none;
    margin: 20px;
}
.menu-area li{
    display: inline-block;
    margin: 0 5px;
}
.menu-area li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    letter-spacing: 2px;
}
.menu-area li a:hover{
    color: yellow;
}
.main{

 margin: 2%;
 display: inline-block;
}

.card{
     width: 40%;
     display: inline-block;
     box-shadow: 2px 2px 20px black;
     border-radius: 5px; 
     margin: 2%;
     color: #fff;
    }

.image img{
  width: 100%;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  

 
 }

.title{
 
  text-align: center;
  padding: 10px;
  
 }

h1{
  font-size: 20px;
 }

.des{
  padding: 3px;
  text-align: center;
 
  padding-top: 10px;
        border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
button{
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
}
button:hover{
  background-color: black;
  color: white;
  transition: .5s;
  cursor: pointer;
}
